body 
{
	font-family: Georgia;
	font-size: 14px;
	color: #000;



}
.container{
	margin: 0 auto;
	width: 960px;
}
a,  #login
{
	color: #00f;
	text-decoration: none;
}

a:hover,  #login:focus
		   {
	text-decoration: underline;
}

input[type="text"], input[type="password"]
{
	position: absolute;
	left: 200px;
	width: 150px;
	margin-right: 360px;
}

textarea
{
	width: 500px;
	height: 300px;
}
header{
	font-size: 24px;
	font-weight:400;
}
section{
	width: 960px;
	margin-bottom: 20px;
	clear: both;
}
section article{
	text-align: justify;
	padding-top: 25px;
}
.error{
	color: red;
}
.all_img{
	float: left;
	padding: 25px;
}

.one_img{
	text-align: center;
	margin: 0 auto;
	padding: 25px 0;
}
.popup_overlay{
	display: none;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100%;

}
.popup{
	display: none;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,1);
	width: 600px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -250px;
}
.popup_title{
	font-weight: bold;
	padding: 10px;
}
.popup_content{
	padding: 10px;
	border-top: 1px solid #ccc;
}
.closer{
	float: right;
	cursor: pointer;
}

#admin_form input[type = "text"]{
	width: 250px;
	position: inherit;
	display: inline-block;

}